/* Definição de fontes */

@font-face {
  font-family: "Unbounded";
  src: url("../fonts/Unbounded-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Reset CSS Simples */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

/* Estilo Desktop */

header img {
  margin: 75px 0 0 360px;
}

h1 span {
  color: #9747ff;
}

h1 {
  font-family: "Unbounded", sans-serif;
  font-size: 64px;
  text-align: center;
  margin-top: 60px;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  width: 792px;
  margin: 24px auto;
  text-align: center;
}

h1,
p {
  color: #232323;
}

a {
  background-color: #9747ff;
  border-radius: 36px;
  color: #fff;
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  height: 66px;
  line-height: 66px;
  margin: 40px auto 0;
  text-align: center;
  text-decoration: none;
  width: 340px;
}

a:hover {
  background-color: #8233e8;
}

img {
  display: block;
  margin: 40px auto 0;
}

/* Estilo Tablet */

@media (max-width: 768px) {
  header img {
    margin: 65px 0 0 60px;
  }

  h1 {
    margin-top: 71px;
  }

  p {
    margin-top: 24px;
    width: 648px;
  }
}

/* Estilo Mobile */

@media (max-width: 375px) {
  header img {
    margin: 32px 0 0 16px;
    width: 200px;
  }

  h1 {
    font-size: 40px;
  }
  p {
    width: 341px;
    font-size: 20px;
  }

  a {
    width: 251px;
    font-size: 20px;
  }

  section img {
    width: 341px;
    height: 231px;
  }
}
